<h1>"Welcome One and All to the Magical Creatures Website!"</h1>

<p>This is Magmar Mortican's Managerie Most Magnificent</p>

<a href="/creatures"><img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/0/237/1000/1000/636252766770156389.jpeg" alt="where's the scorpion tale?"></a>
