<form action="/creatures" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>

  <div>
    <label for="ability">Ability</label>
    <input type="text" name="ability">
  </div>
  <div>
    <label for="age">Age</label>
    <input type="text" name="age">
  </div>

  <input type="submit"  value="Discover new Magical Creature">
</form>
